* {
  padding: 0;
  margin: 0;
}
body {
	background-color: #DED6D6;
}
header {
	min-width: 800px;
	text-align: center;
	padding: 40px 0;
}
header > h1 {
	color: #aaa;
}
header > p {
	padding-top: 40px;
	color: #000;
}
main {
    text-align: center;
}
main > ul > li {
	display: inline-block;
	color: #fff;
	margin: 40px 10px;
	padding: 8px 10px;
	background-color: #72b890;
	border-radius: 4px;
}
li:hover {
	opacity: 0.8;
	cursor: pointer;
}
main > img {
	width: 400px;
	height: 300px;
}
footer {
	text-align: center;
}
footer > ul > li {
	display: inline-block;
	color: #fff;
	margin: 40px 10px;
	padding: 8px 10px;
	background-color: #72b890;
	border-radius: 4px;
}
a{
  text-decoration: none;	
}